[Desktop Entry]
Type=Application
Name=hypr-util
Comment=Fan curve and keyboard RGB control
Exec=@BINDIR@/hyprutil app
Icon=org.hyprnon.hyprutil
Terminal=false
Categories=Settings;HardwareSettings;
StartupWMClass=org.hyprnon.hyprutil
